<head>
   
    <link rel="stylesheet" href="/insert.css">
    
</head>

<div class="inputgroup">
    <label for="Item_name">Item:</label><br>
    <input class="edit"  name="Item_name" type="text" value="<%= model.Item_name %>"><br>
    <label for="Brand">Brand:</label><br>
    <input class="edit"  name="Brand" type="text" value="<%= model.Brand %>" ><br>
    <label for="Quantity">Quantity:</label><br>
    <input class="edit"  name="Quantity" type="number" value="<%= model.Quantity %>" ><br>
    <label for="Comment">Comment:</label><br>
    <textarea class="edittext"  name="Comment" type="text" value="<%= model.Comment %>"></textarea><br>
</div>