<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Groceries Front Page</title>
</head>
<body>
    <!-- <h1>Welcome to Groceries List App</h1><br>
    <h3>Do you have an account? <a href="/login">Login here</a></h3>
    <h3><a href="">Create an account clicking here</a></h3> -->
    <section>
        <div class="skew-title">
          <div class="front">
            <h1>Welcome to GrocerApp</h1><br>
            <h3>Do you have an account? <a href="/login">Login here</a></h3>
            <h3>Create an account clicking<a href=""> here</a></h3>
          </div>
        </div>
        <div class="skew-image">
          <div></div><!-- #1 -->
          <div></div><!-- #2 -->
        </div>
      </section>
</body>
</html>