<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/insert.css">
    <title>Insert your grocery</title>
</head>
<body>
    <form action="/groceries/insert" method="post">
        <h2>Insert a grocery below:</h2>
        <%- include("_edit") -%>
        <div id="outer">
            <input class="button" type="submit" value="Insert"></input>
        </div>
    </form>
</body>
</html>